@import 'jetbrains-mono';
@import 'jetbrains-mono/css/jetbrains-mono.css';
@import 'simplebar/dist/simplebar.min.css';
@import '@vscode/codicons/dist/codicon.css';
@import 'xterm/css/xterm.css';

/* @import '../node_modules/highlight.js/styles/solarized-light.css'; */
/* .hljs {
  background: rgba(0, 0, 0, 0.2);
} */ /* FBBF24 */ /* 4F46E5 */
/* --color-primary-dark: 79, 70, 229; indigo*/
:root {
  --color-primary-light: 251, 191, 36;
  --color-secondary-light: 232, 113, 39;
  --color-primary-dark: 79, 70, 229;
  --color-secondary-dark: 0, 0, 0;
  --color-background-dark: 0, 0, 0;
  --color-background-light: 255, 255, 255;
  --opacity-themelight: 75%;
  --opacity-themedark: 66%;
  --opacity-windows-themelight: 0%;
  --opacity-windows-themedark: 40%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: red solid 1px;
} */

img:before {
  content: ' ';
}

img:after {
  content: '🙈 missing image';
  @apply text-xxs;
  @apply font-mono;
  @apply break-words;
}

html {
  @apply h-screen min-h-screen;
}

body {
  @apply text-black dark:text-white;
  @apply subpixel-antialiased;
  @apply overflow-hidden;
  @apply h-screen min-h-screen;
  @apply overflow-y-hidden;
  /* --tw-bg-opacity: 0.3; */
}

#root {
  @apply h-screen min-h-screen;
  @apply overflow-y-hidden;
}

.choice {
  /* box-shadow: 0 0 0 2px white, inset 0 2px 8px black; */
}

.simplebar-content {
  @apply h-full w-full;
}

.simplebar-scrollbar:before {
  @apply bg-black bg-opacity-50 dark:bg-white;
  position: absolute;
  content: '';
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s 0.5s linear;
}

.log .simplebar-scrollbar:before {
  @apply bg-white opacity-100 dark:bg-black bg-opacity-60;
}

*:not(textarea)::-webkit-scrollbar {
  display: none;
}

*::-webkit-resizer {
  display: none;
}

.kit-docs > h1 {
  @apply px-2 pt-2;
}

.kit-docs > h2 {
  @apply px-2 pt-2;
}

.kit-docs > p {
  @apply px-2;
}

.gg-chevron-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--tw-scale-x, 1), var(--tw-scale-y, 1));
  width: 22px;
  height: 22px;
  border: 3px solid transparent;
  border-radius: 100px;
}
.gg-chevron-left::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid;
  border-left: 3px solid;
  transform: rotate(45deg);
  left: 6px;
  top: 3px;
}

.gg-chevron-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-right::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: 6px;
  top: 4px;
}

.gg-image {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--tw-scale-x, 1), var(--tw-scale-y, 1));
  width: 20px;
  height: 16px;
  overflow: hidden;
  box-shadow: 0 0 0 2px;
  border-radius: 2px;
}
.gg-image::after,
.gg-image::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid;
}
.gg-image::after {
  transform: rotate(45deg);
  border-radius: 3px;
  width: 16px;
  height: 16px;
  top: 9px;
  left: 6px;
}
.gg-image::before {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  top: 2px;
  left: 2px;
}

.gg-play-button {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--tw-scale-x, 1), var(--tw-scale-y, 1));
  width: 22px;
  height: 22px;
}

.gg-play-button::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 6px;
  left: 9px;
}

@keyframes loading {
  0% {
    left: -40px;
  }
  50% {
    left: calc(100% + 10px);
  }
  100% {
    left: -40px;
  }
}

.animate-not-loading {
  /* right: -400px; */
}

.animate-loading {
  right: calc(100% - 40px);
  animation: loading 4s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fadeIn 0.25s ease-in;
  animation-fill-mode: forwards;
}

.animate-fade-out {
  animation: fadeOut 0.25s ease-out;
  animation-fill-mode: forwards;
}

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply mb-2 font-semibold;
  }

  a {
    @apply underline;
  }

  ul,
  ol {
    @apply mb-4;
  }

  ul,
  ol {
    @apply ml-6;
  }

  ol li {
    list-style-type: decimal;
    list-style-position: outside;
  }

  ul li {
    list-style-type: disc;
    list-style-position: outside;
  }

  .prose > ul li {
    list-style-type: unset;
  }

  .prose > ol li {
    list-style-type: unset;
  }

  .prose > blockquote {
    background: hsla(0, 0%, 40%, 0.1);
  }
  .prose > blockquote > p {
    margin: 0;
  }

  .prose > ul,
  ol {
    @apply ml-0;
  }

  .prose a {
    /* @apply block; */
    @apply w-full;
    @apply whitespace-pre-wrap;
    @apply break-words;
  }

  .prose kbd {
    @apply text-primary-dark dark:text-primary-light;
    @apply text-sm font-mono font-bold;
  }

  p {
    @apply mb-0;
  }

  .kit-form * {
    @apply text-black bg-white bg-opacity-0 dark:bg-black dark:text-white dark:bg-opacity-0;
  }

  .loading::placeholder {
    display: inline-block;
    animation: dotty steps(1, end) 1s infinite;
    content: '';
  }

  @keyframes dotty {
    0% {
      content: '';
    }
    25% {
      content: '.';
    }
    50% {
      content: '..';
    }
    75% {
      content: '...';
    }
    100% {
      content: '';
    }
  }
}

.emoji-picker-react {
  @apply pt-2;
}

.emoji-picker-react input.emoji-search {
  background-color: #00000000 !important;
  border: none;
  outline: none;
}
.emoji-picker-react input.emoji-search:focus {
  background-color: #00000000 !important;
  border: none;
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .emoji-picker-react .emoji-categories {
    filter: invert(100%);
  }
}

.emoji-picker-react .emoji-group:before {
  background-color: #00000000 !important;
  border: none;
  outline: none;
}

.emoji-picker-react li {
  list-style-type: none;
}

.emoji-picker-react .emoji button:hover {
  @apply bg-black dark:bg-white bg-opacity-50 dark:bg-opacity-50;
}

.emoji-picker-react .emoji button:focus {
  @apply bg-black dark:bg-white bg-opacity-50 dark:bg-opacity-50;
  @apply outline outline-1 dark:outline-1 outline-black dark:outline-white;
}

.prose > pre {
  @apply p-0 m-0;
  @apply bg-white dark:bg-black bg-opacity-0 dark:bg-opacity-0;
  @apply min-h-8;
}

code.hljs {
  @apply block;
  @apply py-4 pl-4 pr-4;
  @apply leading-snug;
  @apply bg-primary-dark dark:bg-white dark:bg-opacity-5 bg-opacity-5;
  @apply border border-black border-opacity-10 dark:border-white dark:border-opacity-10;
  @apply rounded;
  @apply mb-6;
  @apply text-sm;
  @apply min-h-4;
}

.hljs-copy-wrapper {
  position: relative;
  overflow: hidden;
}
.hljs-copy-wrapper:hover .hljs-copy-button,
.hljs-copy-button:focus {
  transform: translateX(0);
}
.hljs-copy-button {
  @apply text-black dark:text-white text-opacity-25 dark:text-opacity-25;
  @apply w-5 h-5 top-1.5 right-1;
  position: absolute;
}

.hljs-copy-button:hover {
  @apply text-black dark:text-white text-opacity-50 dark:text-opacity-50;
}

.dark .prose > pre,
.prose > pre {
  @apply p-0;
}

.hljs-copy-button[data-copied='true'] {
  text-indent: 0px; /* Shows the inner text */
  width: auto;
  background-image: none;
}

@media (prefers-reduced-motion) {
  .hljs-copy-button {
    transition: none;
  }
}

.hljs-copy-checked::after {
  content: '✓';
  @apply absolute;
  @apply text-black dark:text-white text-opacity-50 dark:text-opacity-50;
  @apply top-1 right-2;
  @apply text-xs;
}
