/* FBBF24 */
/* 4F46E5 */
:root {
  --color-light: 251, 191, 36;
  --color-dark: 79, 70, 229;
  --color-bgdark: 0, 0, 0;
  --color-bglight: 255, 255, 255;
  --opacity-themelight: 20%;
  --opacity-themedark: 33%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'jetbrains-mono';
@import 'typeface-lato';

@import '../node_modules/simplebar-react/dist/simplebar.min.css';
@import '../node_modules/highlight.js/styles/night-owl.css';

body {
  cursor: none !important;
}

.lato {
  font-family: 'Lato';
}

body {
  @apply transition duration-1000;
  @apply bg-bglight dark:bg-bgdark;
  @apply bg-opacity-themelight dark:bg-opacity-themedark;
  @apply subpixel-antialiased;
  @apply overflow-hidden;
  /* --tw-bg-opacity: 0.3; */
}

.choice {
  /* box-shadow: 0 0 0 2px white, inset 0 2px 8px black; */
}

.simplebar-scrollbar:before {
  @apply dark:bg-white bg-black bg-opacity-50;
  position: absolute;
  content: '';
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s 0.5s linear;
}

.log .simplebar-scrollbar:before {
  @apply opacity-100 dark:bg-black bg-white bg-opacity-60;
}

*:not(textarea)::-webkit-scrollbar {
  display: none;
}

*::-webkit-resizer {
  display: none;
}

.kit-docs > h1 {
  @apply px-2 pt-2;
}

.kit-docs > h2 {
  @apply px-2 pt-2;
}

.kit-docs > p {
  @apply px-2;
}

.gg-chevron-left {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--tw-scale-x, 1), var(--tw-scale-y, 1));
  width: 22px;
  height: 22px;
  border: 3px solid transparent;
  border-radius: 100px;
}
.gg-chevron-left::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid;
  border-left: 3px solid;
  transform: rotate(45deg);
  left: 6px;
  top: 3px;
}

.gg-chevron-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-chevron-right::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  right: 6px;
  top: 4px;
}

@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold mb-2;
  }

  a {
    @apply underline;
  }

  a:hover {
    @apply no-underline;
  }

  ul,
  ol {
    @apply mb-4;
  }

  ul,
  ol {
    @apply ml-6;
  }

  ol li {
    list-style-type: decimal;
    list-style-position: outside;
  }

  ul li {
    list-style-type: disc;
    list-style-position: outside;
  }

  p {
    @apply mb-0;
  }

  pre {
    @apply py-2;
  }

  .kit-form * {
    @apply dark:bg-black dark:text-white  dark:bg-opacity-0 bg-white text-black     bg-opacity-0;
  }

  .loading::placeholder {
    display: inline-block;
    animation: dotty steps(1, end) 1s infinite;
    content: '';
  }

  @keyframes dotty {
    0% {
      content: '';
    }
    25% {
      content: '.';
    }
    50% {
      content: '..';
    }
    75% {
      content: '...';
    }
    100% {
      content: '';
    }
  }
}
