{
  "rules": {
    "no-console": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off",
    "no-bitwise": "off",
    "no-restricted-syntax": "off"
  }
}
